@import "~assets/styles/_bootstrap";

.user-card-page {
  padding-top: rem(90px);
  height: 100%;
  background: #fff;

  > ._v-container > ._v-content {
    padding-top: rem(410px);

    .tips {
      padding: rem(20px);
      font-size: rem(26px);
      line-height: rem(40px);
    }
  }
  
  .my-team {
    position: absolute;
    top: rem(90px);
    padding: 0 rem(20px);
		z-index: 1000;
    background: #edf0f0;

		> i.sp-sea {
			position: absolute;
			top: rem(50px);
			left: rem(50px);
			z-index: 9999;
		}

    i.icon {
      display: block;
      width: rem(42px);
      line-height: rem(40px);
      text-align: center;
      position: absolute;
      top: 50%;
      right: rem(40px);
      margin-top: rem(-21px);
      border: rem(1px) solid #666;
      border-radius: 50%;
      color: #666;
      cursor: pointer;
    }

    .input {
			margin: rem(20px) auto;
			width: rem(710px);
			height: rem(92px);
			border: 1px solid #fff;
			border-radius: rem(10px);
			background-color: #fff;

			> input {
				width: 100%;
				height: 100%;
				padding-left: rem(92px);
				border: none;
				border-bottom: 1px solid $bc;
			}
		}
  }


  .nav {
    position: absolute;
    top: rem(200px);
    padding-top: rem(20px);
    width: 100%;
    background: #edf0f0;
    z-index: 1000;

    &:after {
      display: block;
      clear: both;
      content: ' ';
    }

    .nav-group {
			width: 100%;
      // height: rem(90px);
      // line-height: rem(90px);
      border-bottom: 1px solid $bc;
			background: #fff;
			overflow: hidden;
    }

    .item {
      float: left;
      width: 25%;
      font-size: rem(28px);
			text-align: center;

			.sprite {
				width: rem(74px);
				height: rem(74px);
				margin: rem(22px) auto;
			}

			.title {
				padding-bottom: rem(22px);
				font-size: rem(21px);
			}

      &.active {
        color: #2ea7e0;

        &:after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 0 auto;
          width: rem(180px);
          content: ' ';
          border-bottom: 1px solid #2ea7e0;
        }
      }
    }


  }

  .list {
    background: #fff;

    .item {
			position: relative;
			padding: rem(30px) rem(20px);
			padding-bottom: 0;
      height: rem(240px);
      border-bottom: 1px solid $bc;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      .avatar {
        position: absolute;
        top: rem(30px);
        left: rem(20px);
        width: rem(134px);
				height: rem(200px);
				text-align: center;
        border-radius: rem(10px);
				overflow: hidden;

				.photo {
          display: inline-block;
					margin-bottom: rem(10px);
					padding: rem(12px);
					width: rem(110px);
					height: rem(110px);
					border: 1px solid $bc;
					border-radius: rem(20px);
				}

				.title {
					font-size: rem(21px);
					color: #000;
				}
      }

      .info {
        position: absolute;
        top: rem(30px);
				left: rem(180px);
				font-size: rem(18px);

        .name {
          display: inline-block;
          font-size: rem(28px);
          color: #000;
          vertical-align: middle;
        }

        .level {
          padding-top: rem(10px);
        }

        .direct {
          display: inline-block;
          width: rem(43px);
          height: rem(43px);
          margin-left: rem(30px);
          font-size: rem(24px);
          text-align: center;
          line-height: rem(43px);
          background-color: #01b3f0;
          color: #fff;
          border-radius: 100%;

          &.red {
            background: #f00;
          }
        }

        .grade {
          font-size: rem(20px);
          color: #01b3f0;
        }

        .phone {
					position: relative;
          padding-top: rem(10px);
          font-size: rem(24px);
					color: #999;
				}

				.time {
					padding-top: rem(10px);
				}
      }

      .finish-active {
        position: absolute;
        top: rem(30px);
        left: rem(480px);
        width: rem(90px);
        height: rem(70px);
        background: url(~assets/images/finish-card.png) no-repeat center / 100% 100%;
      }

      .chat {
        position: absolute;
        top: 16%;
        right: 10%;
        width: rem(50px);
        height: rem(50px);

        i.sp {
          display: block;
          width: rem(50px);
          height: rem(50px);
        }

        span.text {
          display: block;
          white-space: nowrap;
          font-size: rem(24px);
          color: #333;
        }
      }

      .right {
        position: absolute;
        bottom: 16%;
				right: rem(20px);
				width: rem(163px);
				height: rem(63px);
				line-height: rem(63px);
				border: 1px solid #01b3f0;
				border-radius: rem(10px);
        color: #01b3f0;
        text-align: center;
      }
    }
  }
}
